body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.home-background {
    background-color: #3f618c;
    align-items: center;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    position: sticky;
    z-index: 2;
    justify-content: right;
}


.title {
    font-size: 2.5vw;
    font-family: 'Brush Script Std';
    justify-content: left;
    margin-right: auto;
    color: #ffffff;
    outline-color: black;
}

.home-list a:hover {
    color: #abd0ff;
}

.home-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-style {
    font-family: 'Brush Script Std';
    text-align: right;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3vw;
}